:root {
    --primary-color: #66507F;
    --secondary-color: #B1ABB9;
    --accent-color: #7C7484;
    --highlight-color: #B44A3C;
    --background-color: #BC7B6B;
  }
  
  body {
    background-color: #66507F;
    color: var(--secondary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  li{
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: var(--primary-color);
    margin-top: 30px;
  }
  
  p {
    color: var(--secondary-color);
    line-height: 1.6;
  }
  
  ol {
    list-style: none;
    padding: 0;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  
  fieldset {
    border: 2px solid var(--accent-color);
    padding: 20px;
    border-radius: 5px;
  }
  
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  a[href="#faq1"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq2"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq3"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq4"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq5"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq6"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq7"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq8"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq9"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }
  
  a[href="#faq10"] {
    display: block;
    text-align: left;
    text-decoration: none;
    color: var(--highlight-color);
    margin-top: 20px;
  }