html {
    font-family: sans-serif, Georgia;
}
body {
    height:125vh;
    margin-top: 80px;
    padding: 30px;
}
header {
    background-color: rgba(102,80,127,255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    align-items: center;
}
header li {
    margin: 20px;
}
header * {
    display: inline;
}
nav {
    color: white;
    float: right;
}
.navLink {
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
    color: white;
}
.logo {
    height: 85px;
}